.toast{
    width: 250px;
    border-radius: 4px;
    padding: .75rem;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background-color: papayawhip;
}